<h1>Add New Meme</h1>

<form method="post" action="/memes">
    <input name="category" type="text" placeholder="Category" />
    <input name="image-url" type="text" placeholder="Image URL" />
    <button>Submit</button>
</form>